h1
     {
       color: #C9B59C;
       text-align: center;
     }
  h4 
    {  text-align: center;
        color:
         #703B3B;
         
    }
       h2
       {color:
         #703B3B;
         text-align: center;
       }
       div{
        text-align: center;
       }
        h5
    {
        color: #703B3B;

        text-align: center;
    }
    p {
        style = "text-align: center;"
        color: # 432323;
    }
    ul
    { 
        list-style-position:inside;
    }
      
      